@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;900&display=swap');

.admin {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Rubik', serif;
}

.title-div {
    height: 2.5em;
}

.title-div h1 {
    font-size: 2em;
    font-family: "Rubik";
    font-weight: 900;
    color: rgb(34, 31, 31);
    margin: 0;
    padding:0;
}

#content-container {
    padding-top: 1em;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#selector-wrapper {
    margin: 0;
    padding: 0;
    margin: auto;
}

#main-dropdown {
    background-color:rgb(150, 0, 0);
    font-weight: 400;
    color: white;
    border-radius: 0.5em;
}

.dropdown-toggle {
    margin-bottom: 0.5em;
    box-sizing: border-box;
    width: 70%;
    text-align: left;
    overflow: hidden;
}

.edit-button {
    margin-bottom: 0.5em;
    box-sizing: border-box;
    position: relative;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    width: 100%;
    min-width: 30em;
    text-align: left;
    overflow: hidden;
    border: solid 2px;
}

/*FORM*/
.form-container {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    width: 50%;
    min-width: 50em;;
}

.form-container textarea {
    height: 15em;
}

form h3 {
    font-weight: bold;
}

form label {
    font-weight: bold;
}
