@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;900&display=swap');


.App {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
   font-family: 'Rubik', serif;
}

.title-div {
    height: 2.5em;
}

.title-div h1 {
    font-size: 2em;
    font-family: "Rubik";
    font-weight: 900;
    color: rgb(34, 31, 31);
    margin: 0;
    padding:0;
}

#content-container {
    margin: 0;
    padding: 0 1rem 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

#selector-wrapper {
    margin: 0;
    padding: 0;
}

#workspace-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2.5em 1em 1em;
    height: 100%;
}

#workspace-wrapper textarea {
    padding: 1em;
    border-radius: 0.5em 0.5em 0 0;
    outline: none;
    resize: none;
    border: none;
    cursor: crosshair;
}

#workspace-wrapper textarea::-webkit-scrollbar-track {
    background-color: transparent;
}

#workspace-wrapper textarea::-webkit-scrollbar {
    width: 10px;
    background-color: #00000000;
}

#workspace-wrapper textarea::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 0 0.5em 0 0;
}

#viewer {
  height: 30%;
  max-height: 40vh;
  min-height: 150px;
}

#editor{
    height: 100%;
    min-height: 200px;
    margin-top: 1em;
}

#main-dropdown {
    background-color:rgb(150, 0, 0);
    font-weight: 400;
    color: white;
    border-radius: 0.5em;
}

.dropdown-toggle {
    margin-bottom: 0.5em;
    box-sizing: border-box;
    width: 95%;
    text-align: left;
    overflow: hidden;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    width: 95%;
    text-align: left;
    overflow: hidden;
    border: solid 1px;
}

.dropdown-item:active {
    background-color: rgb(155, 113, 113);
}

.copy-button {
    margin: -1px 0;
    border-radius: 0 0 0.5em 0.5em; 
}
